---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getBlogs, getCategories } from "../library/microcms";
const res1 = await getBlogs({ fields: ["id", "title", "category", "tag"] });
const res2 = await getCategories({ fields: ["name"] });
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<h2>カテゴリー</h2>
		<ul role="list" class="link-card-grid">
			{
				res2.contents.map((content: any) => (
					<li>
						<button onclick="test()">{content.name}</button>
					</li>
				))
			}
		</ul>

		<h2>記事リスト</h2>
		<ul role="list" class="link-card-grid">
			{
				res1.contents.map((content: any) => (
					<li>
						<a href={content.id}>{content.title}</a>
						<p>カテゴリー: {content.category.name}</p>
						<p>タグ: {content.tag.name}</p>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
<script is:inline>
	const test = () => {
	fetch(
    `https://${import.meta.env.VITE_MICROCMS_SERVICE_DOMAIN}.microcms.io/api/v1/news?filters=category[equals]rsdglv3td1`,
    {
      headers: {
        "X-MICROCMS-API-KEY": `${import.meta.env.VITE_MICROCMS_API_KEY}`,
      },
    }
  )
  .then((result) => result.json())
  .then((json) => console.log(json))
}
</script>
<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
